<h3 class="title"><span>< </span> 歌单</h3>
<div class="tit">
	<div class="mpic">
		<span class="num">666</span>
		<img src="" />
	</div>
	<div class="head">
		<p class="con"></p>
		<p class="author"></p>
	</div>
</div>
<div class="play">
	<div class="sel">
		<img src="img/playbar_btn_play.png"/>
		<p>播放全部</p>
		<span></span>
	</div>

	<p>多选</p>
</div>

<ol class="musiclist">


</ol>

<div class="listtemplate" style="display: none">
	<li class="listitem">
		<p class="music">泡沫</p>
		<p class="singer"></p>
		<span></span>
	</li>
</div>