<img src="img/banner2.jpg" class="recImg"/>
<div class="more">
		<h3><img src="img/aei.png"/><span>全部歌单</span></h3>
		<p>更多></p>
</div>
	<div class="songlist">
		<div class="item">
			<p class="num">200</p>
			<img src="img/7.jpg">
			<p>从前从前有个人爱你很久</p>
		</div>
		<div class="item">
			<p class="num">200</p>
			<img src="img/1.jpg">
			<p>但偏偏风渐渐大到我看你不见</p>
		</div>
		<div class="item">
			<p class="num">200</p>
			<img src="img/3.jpg">
			<p>还要多久我才能在你身边</p>
		</div>
		<div class="item">
			<p class="num">200</p>
			<img src="img/4.jpg">
			<p>等待放晴的天空也许比较好一些</p>
		</div>
		<div class="item">
			<p class="num">200</p>
			<img src="img/5.jpg">
			<p>从前从前有个人爱你很久</p>
		</div>
		<div class="item">
			<p class="num">200</p>
			<img src="img/6.jpg">
			<p>从前从前有个人爱你很久</p>
		</div>
	</div>